* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

img {
    max-width: 100%;
}


.wrap {
    text-align: center;
}

.h1 {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 500;
}

.buttons {
    button {
        cursor: pointer;
        width: 200px;
        padding-block: 10px;
        background: 0;
        border: 2px solid #000;
        border-radius: 7px;
        font-weight: 600;
        transition: .3s ease;
    }

    button:hover {
        background-color: #00000014;
    }
}

.slots {
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
   display: grid;
   grid-template-columns: repeat(4,1fr);
    gap: 15px;
}

.slot {
    border: 1px solid #000;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}


.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 20px;
    width: 100px;
    img{
        object-fit: contain;
    }
}

.descr {
    background-color: black;
    color: #fff;
    padding-block: 30px;
    padding-inline: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 240px;
}

.slot-name {
    color: #FFF;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 10px;
}

.descr-p {
    color: rgba(255, 255, 255, 0.56);
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    height: 70px;
    overflow-y: scroll;
    margin-bottom: 15px;
}

.descr-p::-webkit-scrollbar {
    display: none;
  }

.icons {
    display: flex;
    gap: 25px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 30px;
    div{
        display: flex;
        flex-wrap: nowrap;
        gap: 5px;
    }
}

.to-star {
    cursor: pointer;
    width: 100%;
    height: 55px;
    
    color: #000;
    text-align: center;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: 1px solid #000;
    transition: .3s ease;
    border-radius: 15px;
}

.to-star:hover {
    background-color: #ffffffc0;
}

.to-star_active {
    background-color: rgb(31, 134, 255);
    color: white;
}
.module_korzinka{
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 35%;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: .5s ease-in;
    h1{
        text-align: center;
    }
}
.open{
    right: 0;
}
.cancel{
    position: absolute;
    top: 0;
    right: -25px;
    width: 50px;
    height: 50px;
    font-size: 30px;
    cursor: pointer;
    color: #ffffff;
    background-color: none;
}
.flex{
    display: flex;
    align-items: center;
    gap: 30px;
    margin-block:20px ;
}
.small{
    max-width: 20%;
}
.flex_2{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pointer{
    cursor: pointer;
    font-size: 20px;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.kimchi{
    overflow-y: scroll;
    height: 500px;
}
.gray{
    background-color: grey;
    height: 1;
}